html, body {
    height: 100%;
}

body {
	color:#666666;
	font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ã‚·ãƒƒã‚¯',YuGothic,'Yu Gothic','ãƒ¡ã‚¤ãƒªã‚ª', Meiryo,'ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯','MS PGothic';
	text-align:center;
	overflow: hidden;
}
table {
	margin:0 auto;
	text-align:left;

}
.radio {
	margin:0 auto;
}
.question{
	text-align:left;
	border-bottom: dashed 1px #666666;
	padding-bottom:3px;
	width:70%;
	margin:15px auto;
	padding-left:8px;

}
.box{
	border:2px solid #666666;
	border-radius: 10px;
	margin:10px 20px;
	padding-bottom:10px;
	background-color:#F7B46B;
}
.title{
	margin:25px auto;
	width:80%;
	font-size:20px;
	font-weight:bold;
	border:2px solid #666666;
	border-radius: 20px;
	background-color:#FCECEA;
}
.box2{
	border:2px solid #666666;
	border-radius: 10px;
	margin:5px 20px;
	padding-bottom:5px;
	background-color:#6AC1B7;
}
.box3{
	border:2px solid #666666;
	border-radius: 10px;
	margin:5px 20px;
	padding-bottom:5px;
	background-color:#6AC1B7;
}
.info{
	margin:6px auto;
	width:200px;
	border:1px solid #666666;
	border-radius: 20px;
	background-color:#DFEFED;
}
.link{
	position: relative;
	 display: inline-block;
	 padding: 0.25em 0.5em;
	 text-decoration: none;
	 color: #FFF;
	 background: #fd9535;/*背景色*/
	 border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
	 border-radius: 4px;/*角の丸み*/
	 box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
	 font-weight: bold;
}
.top{
	padding:auto;
	height:90%;
	border:2px solid #666666;
	border-radius: 20px;
	background-color:#79BD9A;
}
.result{
	padding:auto;
	height:90%;
	border:2px solid #666666;
	border-radius: 20px;
	background-color:#79BD9A;
}
.inbox{
	margin:150px;
}
.type{
	text-align:center;
	border:2px solid #666666;
	border-radius: 20px;
	padding:3px;
	width:50%;
	margin:15px auto;
	padding-left:8px;
	font-size:20px;
	background-color:#EEFFFF;
}
p{
	margin:0 auto;
}
