<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
<meta charset="UTF-8">
<title>モチベーションタイプ診断</title>
</head>
<body>
<div class="top">
	<div class="inbox">
		<p class="text">これよりテストをはじめます</p>
		<a class="link" href="./question/1">はじめる！</a>
	</div>
</div>
</body>
</html>