<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
<script src="/js/jquery-1.7.2.min.js" th:src="@{/js/jquery-1.7.2.min.js}"></script>
<script src="/js/animation.js" th:src="@{/js/animation.js}"></script>
<meta charset="UTF-8">
<title>モチベーションタイプ診断</title>
</head>
<body>
<div class="box">
	<p  class = "title" th:text="${question.question}"></p>
	<div th:each="answer : ${answers}" th:object="${answer}">
		<p class="question" th:text="*{choice} +' : '+*{answer}"></p>
	</div>
</div>
<form th:object="${answerForm}" method="post">
<div class="box2">
	<p class = "info">1番当てはまる</p>
	<div class="radio" th:each="answer : ${answers}">
		<label>
			<input type="radio" name="answer1" th:value="${answer.choice}" th:text="${answer.choice}">
		</label>
	</div>
</div>
<div class="box3">
	<p class = "info">次に当てはまる</p>
	<div class="radio" th:each="answer : ${answers}">
		<label>
			<input type="radio" name="answer2" th:value="${answer.choice}" th:text="${answer.choice}">
		</label>
	</div>
</div>
	<button type="submit" class="btn">つぎへ！</button>
</form>
</body>
</html>