<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
<meta charset="UTF-8">
<title>モチベーションタイプ診断</title>
</head>
<body>
<div class="result">
	<div class="inbox">
		<p class="text">あなたは</p>
		<div class="type"  th:each="result : ${result}">
		    <p th:text="${result}"></p>
		</div>
		<p class="text">に属しています</p>
		<a class="link" href="./top">もう一回する！</a>
	</div>
</div>
</body>
</html>